<section class="book-info">
    <%= image_tag book.display_image, alt: book.title, class: "book-image" %>

    <div class="book-details">
        <p><strong>Author:</strong> <%= book.author %></p>
        <p><strong>Recommended by:</strong> <%= book.user.name if book.user %></p>
        <p><strong>Description:</strong> <%= book.description %></p>
        <div class="book-rating">
            <% (1..5).each do |star| %>
                <span class="star"><%= star <= book.average_rating.round ? "★" : "☆" %></span>
            <% end %>
        </div>
    

        <% if authenticated? && Current.user == book.user %>
            <div class="book-actions">
                <%= link_to edit_book_path(book), class: "btn btn-edit", title: "Edit" do %>
                    <i class="fas fa-edit"></i>
                <% end %>

                <%= button_to book, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-delete", title: "Delete" do %>
                    <i class="fas fa-trash"></i>
                <% end %>
            </div>
        <% end %>
    </div>
</section>
