<section class="comments-section">
  <h2>Comments</h2>
  <% if book.comments.any? %>
    <div class="all-comments">
      <% book.comments.each do |comment| %>
        <div class="comment">
          <p><strong><%= comment.user.name if comment.user %></strong></p>
          <p><%= comment.content %></p>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="comment">No comments yet.</p>
  <% end %>

  <% if authenticated? %>
    <%= form_with(model: [book, book.comments.build], local: true, class: "comment-input") do |form| %>
      <%= form.text_area :content %>
      <%= form.submit "Post Comment", class: "btn" %>
    <% end %>
  <% end %>
</section>
