<div class="form-container">
    <h1><%= title %></h1>
    <%= form_with model: book, html: { class: "book-form" } do |form| %>
        <div class="form-group">
            <%= form.label :title, class: "form-label" %>
            <%= form.text_field :title, class: "form-text" %>
        </div>

        <div class="form-group">
            <%= form.label :author, class: "form-label" %>
            <%= form.text_field :author, class: "form-text" %>
        </div>

        <div class="form-group">
            <%= form.label :description, class: "form-label" %>
            <%= form.text_area :description, class: "form-text" %>
        </div>

        <div class="form-group">
            <%= form.label :featured_image, class: "form-label" %>
            <%= form.file_field :featured_image, accept: "image/*", class: "form-file" %>
        </div>

        <div class="form-actions">
            <%= form.submit "Submit", class: "btn" %>
            <%= link_to "Cancel", book.persisted? ? book : books_path, class: "btn" %>
        </div>
    <% end %>
</div>
